<!DOCTYPE html>
<html>
<head>
    <% include include/jquery-header.ejs %>
    <% include include/parse-header.ejs %>
    <% include include/semantic-header.ejs %>

    <title>Cienega Orchards Store</title>

</head>
<body>
    <div class="ui fixed large teal main menu"></div>

    <div class="ui basic segment main content">
        <div class="ui center aligned four column page grid">
            <div class="column">
                <div class="ui vertical large fluid main menu"></div>
            </div>
        </div>
    </div>

    <% include include/jquery-scripts.ejs %>
    <% include include/parse-scripts.ejs %>
    <% include include/semantic-scripts.ejs %>

</body>
</html>
