<!DOCTYPE html>
<html>
<head>
    <% include include/jquery-header.ejs %>
    <% include include/parse-header.ejs %>
    <% include include/cienegacss.ejs %>
    <title>Cienega Orchards Store</title>
</head>
<body>
    <div id='menu'></div>
    <div id='content'></div>

    <% include include/jquery-scripts.ejs %>
    <% include include/parse-scripts.ejs %>
</body>
</html>
