<!DOCTYPE html>
<html>
    <head>
        <% include include/jquery-header.ejs %>
        <% include include/cienegacss.ejs %>
        <title>Cienega Orchards Store</title>
    </head>
    <body>
    <ul>
        <li><a href="/inventory">Inventory</a></li>
        <% if(Parse.User.current()) { %>
        <li><a href="/prices">Prices</a></li>
        <li><a href="/logout">Logout</a></li>
        <% } else { %>
        <li><a href="/login">Login</a></li>
        <% }%>
    </ul>
    </body>
</html>
