<!DOCTYPE html>
<html>
<head>
    <% include include/idealforms-header.ejs %>
    <% include include/jquery-header.ejs %>
    <% include include/parse-header.ejs %>
    <% include include/cienegacss.ejs %>
    <title>Login Page</title>
</head>
<body>
    <form class="idealforms" autocomplete="off" method="post" action="/login">
        <div class="field">
            <label class="main">Username:</label>
            <input name="username" type="text" data-idealforms-rules="required"/>
            <span class="error"></span>
        </div>

        <div class="field">
            <label class="main">Password:</label>
            <input name="password" type="password" data-idealforms-rules="required"/>
            <span class="error"></span>
        </div>

        <div class="field buttons">
            <label class="main">&nbsp;</label>
            <button type="submit">Submit</button>
        </div>
    </form>

    <% include include/jquery-scripts.ejs %>
    <% include include/idealforms-scripts.ejs %>
</body>
</html>
