<!DOCTYPE html>
<html>
<head>
    <% include include/jquery-header.ejs %>
    <% include include/parse-header.ejs %>
    <% include include/semantic-header.ejs %>
    <% include include/cienegacss.ejs %>

    <title>Prices</title>

</head>
<body>
    <div class="ui fixed large teal main menu"></div>

    <div class="main content">
        <table class="ui striped collapsing compact table priceTable" summary="Prices of meats">
            <thead><tr><th>Species</th><th>Category</th><th>Cut</th><th>Price</th></tr></thead></thead>
        </table>
    </div>

    <% include include/jquery-scripts.ejs %>
    <% include include/parse-scripts.ejs %>
    <% include include/semantic-scripts.ejs %>

    <script>
    function makePrice(price)
    {
        $('.priceTable').append(
            $('<tr>').append(
                $('<td>').text(price.get('species')),
                $('<td>').text(price.get('category')),
                $('<td>').text(price.get('cut')),
                $('<td>').text(price.get('price').toFixed(2))
                )
            );
    }

    $(function ()
    {
        var priceQuery = new Parse.Query('Prices')
            .ascending('-species,category,cut');

        var prices = priceQuery.collection();

        prices.fetch({
            success: function(prices)
            {
                prices.forEach(function(price)
                {
                    makePrice(price);
                });
            },
            error: function(err)
            {
                $('.main.content').text('There was an error fetching data');
            }
        });
    });
    </script>

</body>
</html>
