<!DOCTYPE html>
<html>
<head>
    <% include include/jquery-header.ejs %>
    <% include include/parse-header.ejs %>
    <% include include/alertify-header.ejs %>
    <% include include/cienegacss.ejs %>
    <% var moment = require('moment'); %>
    <title>QR Codes</title>
</head>
<body class='qrcodes'>
    <%
        meats.forEach(function(meat) {
        var cut = meat.get('cut');
        var freezer = meat.get('freezer');
        var animal = meat.get('animal');
        for(i=0; i<4; i++)
        {
        %><div class='qrcode' desc='<%= meat.get('units')+cut.get('units')+" "+cut.get('species')+" "+cut.get('cut') %>' ident='<%= meat.id %>'></div><%
        }
    })%>

    <% include include/jquery-scripts.ejs %>
    <% include include/parse-scripts.ejs %>
    <% include include/qrcode-scripts.ejs %>
    <% include include/alertify-scripts.ejs %>

    <script type="text/javascript">
    $(function() {
        alertify.alert('Loading Fonts', 'Please wait...')
            .set('movable',false)
            .set('modal', true)
            .set('closable', false)
            .set('maximizable', false)
            .set('pinnable', false);

        var fonts = $.Deferred();
        WebFontConfig = {
            google: { families: [ 'Amatic+SC:700:latin' ] },
            active: function() { alertify.closeAll(); fonts.resolve(); }
        };

        var wf = document.createElement('script');
        wf.src = '//ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
        wf.type = 'text/javascript';
        wf.async = 'true';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(wf, s);

        fonts.done(function()
                    {
                        alertify.alert('Generating QR codes', 'Please wait...')
                            .set('movable',false)
                            .set('modal', true)
                            .set('closable', false)
                            .set('maximizable', false)
                            .set('pinnable', false);

                        $(".qrcode").each(function() {
                            $(this).qrcode({
                                size: 600, // 600 DPI

                                ecLevel: 'H',

                                fill: '#000',
                                background: '#fff',
                                text: '{"desc":"'+$(this).attr('desc')+'","id":"'+$(this).attr('ident')+'"}',

                                minVersion: 13,
                                maxVersion: 13,
                                quiet: 4,
                                mode: 2,
                                mSize: 0.13,
                                mPosY: 0.78,
                                fontname: 'Amatic SC',
                                fontcolor: '#c00',

                                label: $(this).attr('desc')
                            });
                        });

                        alertify.closeAll();
                    });
    });
    </script>
</body>
</html>
