body
{
    padding: 4em;
}

.card
{
    min-width:  23em;
}

.card .content>div.meta
{
    padding-bottom: 1em;
}

.card .content>div.left.floated
{
    padding-right: 1em;
}

.raised.segment>.content
{
    padding-top: 1.5em;
}

/* qrcode layout */

@media print {

    @page
    {
        size: 8.5in 11in;
        margin-top: 1in;
        margin-left: 0.5in;
        margin-right: 0.5in;
        margin-bottom: 0;
    }

    body
    {
        padding: 0;
    }
}

.qrcodes
{
    padding: 0;
    margin: 0;
    line-height: 0;
    max-width: 7.5in;
}

.qrcodes .qrcode
{
    display: inline-block;
    padding: 0.125in;
}

.qrcodes .qrcode canvas
{
    width: 1in;
    height: 1in;
    padding: 0.0625in;
    display: block;
}

.modal.qrcode .image.qrcode canvas
{
    width: 2in;
    height: 2in;
}
