<script>
var logIn;
var logOut;

var doMenu = function()
{
    var menu = [
        {title: 'Inventory', link: '/inventory', icon: 'list layout'},
        {title: 'Prices', link: '/prices', icon: 'money'},
        {title: 'QR Codes', link: '/qrcodes', icon: 'qrcode'},
    ];

    $('.main.menu').empty();
    menu.forEach(function(item)
    {
        var menuItem = $('<a></a>',
        {
            text: item.title,
            href: item.link
        }).addClass('item')
        .prepend($('<i></i>').addClass(item.icon).addClass('large icon'))
        .appendTo('.main.menu');

        if(item.link == location.pathname)
        {
            menuItem.addClass('active');
        }
    });

    var logInOrOutDetails;
    if(Parse.User.current())
    {
        logInOrOutDetails = {
            text: 'Logout (' + Parse.User.current().get('realname') + ')',
            link: '#',
            icon: 'ban',
            fn: logOut
        }
    }
    else
    {
        logInOrOutDetails = {
            text: 'Login',
            link: '#',
            icon: 'user',
            fn: logIn
        }
    }

    $('<a></a>',
        {
            text: logInOrOutDetails.text,
            href: logInOrOutDetails.link
        }).addClass('right item')
        .prepend($('<i></i>').addClass(logInOrOutDetails.icon).addClass('large icon'))
        .appendTo('.main.menu').click(logInOrOutDetails.fn);
}

logIn = function()
{
    Parse.FacebookUtils.init({ // this line replaces FB.init({
      appId      : '192526427617368', // Facebook App ID
      version    : 'v2.2',
      cookie     : true, // enable cookies to allow Parse to access the session
      xfbml      : false
    });

    Parse.FacebookUtils.logIn('public_profile,email', {
      success: function(user) {
        // Populate the menu
        doMenu();
      },
      error: function(user, error) {
        alert("User cancelled the Facebook login or did not fully authorize.");
      }
    });
};

(function(d, s, id){
var js, fjs = d.getElementsByTagName(s)[0];
if (d.getElementById(id)) {return;}
js = d.createElement(s); js.id = id;
js.src = "//connect.facebook.net/en_US/sdk.js";
fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));

logOut = function()
{
    Parse.User.logOut();
    doMenu();
}

$(doMenu);
</script>
