<script>
var logIn;
var logOut;

var doMenu = function()
{
    var menu = [
        {title: 'Inventory', link: '/inventory'},
        {title: 'Prices', link: '/prices'},
        {title: 'QR Codes', link: '/qrcodes'},
    ];

    if(Parse.User.current())
    {
        menu.push({title: 'Logout (' + Parse.User.current().get('realname') + ')', link: '#'});
    }
    else
    {
        menu.push({title: 'Login', link: '#'});
    }

    $('.main.menu').empty();
    menu.forEach(function(item)
    {
        var menuItem = $('<a></a>',
        {
            text: item.title,
            href: item.link
        }).addClass('item').appendTo('.main.menu');

        if(item.title == 'Login')
        {
            menuItem.click(logIn);
        }
        else if((/^Logout/).test(item.title))
        {
            menuItem.click(logOut);
        }
    });
}

logIn = function()
{
    Parse.FacebookUtils.init({ // this line replaces FB.init({
      appId      : '192526427617368', // Facebook App ID
      version    : 'v2.2',
      cookie     : true, // enable cookies to allow Parse to access the session
      xfbml      : false
    });

    Parse.FacebookUtils.logIn('public_profile,email', {
      success: function(user) {
        // Populate the menu
        doMenu();
      },
      error: function(user, error) {
        alert("User cancelled the Facebook login or did not fully authorize.");
      }
    });
};

(function(d, s, id){
var js, fjs = d.getElementsByTagName(s)[0];
if (d.getElementById(id)) {return;}
js = d.createElement(s); js.id = id;
js.src = "//connect.facebook.net/en_US/sdk.js";
fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));

logOut = function()
{
    Parse.User.logOut();
    doMenu();
}

$(doMenu);
</script>
