<script>
$(function()
{
    // Populate the menu
    Parse.Cloud.run('navItems', { user: <%- JSON.stringify(user) %> },{
        success: function(items)
        {
            $('#menu').empty();
            items.forEach(function(item)
            {
                $('<span></span>').addClass('menuItem').html($('<a>',
                {
                    text: item.title,
                    href: item.link
                })).appendTo('#menu');
            });
        },
        error: function(err)
        {
            $('#menu').html("Error: "+JSON.stringify(err));
        }
    });
});
</script>
